<div class="chart-wrapper">
  <mat-card class="chart-card">
    <mat-card-header class="chart-card-header">
      <div mat-card-avatar class="chart-avatar">📊</div>

      <div class="header-content">
        <div>
          <mat-card-title>Sales Performance</mat-card-title>
          <mat-card-subtitle>Product data from 2012 to 2015</mat-card-subtitle>
        </div>

        <div class="dropdown-group">
          <mat-form-field appearance="outline" class="dropdown">
            <mat-label>Year</mat-label>
            <mat-select [(value)]="selectedYear">
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="dropdown">
            <mat-label>Schema</mat-label>
            <mat-select [(value)]="selectedSchema">
              <mat-option *ngFor="let schema of schemas" [value]="schema">
                {{ schema }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>

    <div class="card-content-row">
      <mat-grid-list class="right-content" cols="2" rowHeight="100px">
        <mat-grid-tile *ngFor="let tile of tiles">
          <mat-icon>{{ tile.icon }}</mat-icon>
          <div class="icon-label">
            <span class="number">{{ tile.number }}</span>
            <span class="label">{{ tile.label }}</span>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" class="cut-corner-bottom-left">
          <mat-icon>{{ bottomTile.icon }}</mat-icon>
          <div class="icon-label">
            <span class="number">{{ bottomTile.number }}</span>
            <span class="label">{{ bottomTile.label }}</span>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card-content class="left-content">
        <div id="main" class="chart-container"></div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
